<html lang="en" ng-app="signUpApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Sign Up for Moments</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
    <script src="scripts/signup.js"></script>

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
  </head>

  <body ng-controller="signUpController">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #2DA067;">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #88DDB3;">
            <span class="icon-bar" style="background-color: #333;"></span>
            <span class="icon-bar" style="background-color: #333;"></span>
            <span class="icon-bar" style="background-color: #333;"></span>
          </button>

          <div class="navbar-header">
            <div class="navbar-brand">
                <span id="navbar-icon">M</span>
                <span id="navbar-title">MOMENTS</span>
            </div>
          </div>

        <div class="navbar-collapse collapse" style="background-color: #88DDB3;">
          <ul class="nav navbar-nav" style="margin: 0px -15px;">
            <li style="border-bottom: #2DA067 1px solid;"><a style="color: #333;" href="#">Home</a></li>
            <li style="border-bottom: #2DA067 1px solid;"><a style="color: #333;" href="#about">About</a></li>
            <li><a style="color: #333;" href="#contact">Contact</a></li>
          </ul>
        </div>

    </nav>

    <div class="container" style="width: 100%; text-align: center;">
      <div style="margin: 47px 0px 0px 0px; width: 0 auto;"><h2 style="font-family:aquaGrotesque">SIGN UP</h2></div>

      <form name="registrationData" ng-submit="registerUser()">

        <div>
          <span style="font-family:aquaGrotesque;">NAME:</span> 
          <input type="text" name="name" class="form-control registration-input" ng-model="name" ng-minlength="3" required>
          <span ng-show="registrationData.name.$valid && registrationData.name.$dirty" class="glyphicon glyphicon-ok" style="display:inline; margin: 0px 0px 0px 13px;"></span>
          <span ng-show="!registrationData.name.$valid && registrationData.name.$dirty" class="glyphicon glyphicon-remove" style="display:inline; margin: 0px 0px 0px 13px;"></span>
        </div>

        </br>

        <div>
          <span style="font-family:aquaGrotesque;">EMAIL:</span> 
          <input type="text" name="email" class="form-control registration-input" ng-model="email" ng-pattern="emailRegex" required>
          <span ng-if="registrationData.email.$valid && registrationData.email.$dirty" class="glyphicon glyphicon-ok" style="display:inline; margin: 0px 0px 0px 13px;"></span>
          <span ng-if="registrationData.email.$error.pattern && registrationData.email.$dirty"class="glyphicon glyphicon-remove" style="display:inline; margin: 0px 0px 0px 13px;"></span>
        </div>

        </br>

        <div>
          <span style="font-family:aquaGrotesque;">PASSWORD:</span> 
          <input name="password" type="password" class="form-control registration-input" ng-model="password1" ng-minlength="4" required>
          <span ng-show="registrationData.password.$valid && registrationData.password.$dirty" class="glyphicon glyphicon-ok" style="display:inline; margin: 0px 0px 0px 13px;"></span>
          <span ng-show="!registrationData.password.$valid && registrationData.password.$dirty" class="glyphicon glyphicon-remove" style="display:inline; margin: 0px 0px 0px 13px;"></span>
        </div>

        </br>

        <div>
          <span style="font-family:aquaGrotesque;">PASSWORD CONFIRMATION:</span> 
          <input name="password2" type="password" class="form-control registration-input" ng-model="password2" required>
          <span ng-show="password1==password2 && registrationData.password2.$dirty" class="glyphicon glyphicon-ok" style="display:inline; margin: 0px 0px 0px 13px;"></span>
          <span ng-show="password1!=password2 && registrationData.password2.$dirty" class="glyphicon glyphicon-remove" style="display:inline; margin: 0px 0px 0px 13px;"></span>
        </div>

        <div ng-if="registrationFailed && ((password1!=password2 && registrationData.password2.$dirty) || (!registrationData.password.$valid && registrationData.password.$dirty) || (registrationData.email.$error.pattern && registrationData.email.$dirty) ||  (!registrationData.name.$valid && registrationData.name.$dirty))" style="padding: 10px 0px 10px 0px; color: #FF0000;">
          Entered information is not valid.
        </div>

        </br>
        <button type="submit" id="login-button" class="btn btn-lg" style="padding: 10px auto 10px auto;">Register</button>
      </form>

    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
