<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
	<script type="text/javascript">
		var app = angular.module("app", []);

		app.controller("appCtrl", function ($scope) {

	    // current location
	    $scope.loc = { lat: 43.46519, lon: -80.522 };
	    $scope.gotoCurrentLocation = function () {
	        if ("geolocation" in navigator) {
	            navigator.geolocation.getCurrentPosition(function (position) {
	                var c = position.coords;
	                $scope.gotoLocation(c.latitude, c.longitude);
	            });
	            return true;
	        }
	        return false;
	    };
	    $scope.gotoLocation = function (lat, lon) {
	        if ($scope.lat != lat || $scope.lon != lon) {
	            $scope.loc = { lat: lat, lon: lon };
	            if (!$scope.$$phase) $scope.$apply("loc");
	        }
	    };

	    // geo-coding
	    $scope.search = "";
	    $scope.geoCode = function () {
	        if ($scope.search && $scope.search.length > 0) {
	            if (!this.geocoder) this.geocoder = new google.maps.Geocoder();
	            this.geocoder.geocode({ 'address': $scope.search }, function (results, status) {
	                if (status == google.maps.GeocoderStatus.OK) {
	                    var loc = results[0].geometry.location;
                        //TODO: ADD CODE TO STORE A MOMENT's LAT AND LANG
                        $scope.moments.push({"name":"DUMMY", "lat": loc.lat(), "lon":loc.lng()});
	                    $scope.search = results[0].formatted_address;
	                    $scope.gotoLocation(loc.lat(), loc.lng());
                        

	                } else {
	                    alert("Sorry, this search produced no results.");
	                }
	            });
	        }
	    };

    // some points of interest to show on the map
    // to be user as markers, objects should have "lat", "lon", and "name" properties
    $scope.moments = [
        { "name": "Hartsfield Jackson Atlanta", "lat": 33.64, "lon": -84.444},
        { "name": "O'Hare", "lat": 41.9794, "lon": -87.9044},
        { "name": "Los Angeles","lat": 33.9425, "lon": -118.4081 },
        { "name": "Dallas/Fort Worth","lat": 32.8974, "lon": -97.0407 },
    ];
});



// - Documentation: https://developers.google.com/maps/documentation/
app.directive("appMap", function () {
    return {
        restrict: "E",
        replace: true,
        template: "<div></div>",
        scope: {
            center: "=",        // Center point on the map (e.g. <code>{ latitude: 10, longitude: 10 }</code>).
            markers: "=",       // Array of map markers (e.g. <code>[{ lat: 10, lon: 10, name: "hello" }]</code>).
            width: "@",         // Map width in pixels.
            height: "@",        // Map height in pixels.
            zoom: "@",          // Zoom level (one is totally zoomed out, 25 is very much zoomed in).
            mapTypeId: "@",     // Type of tile to show on the map (roadmap, satellite, hybrid, terrain).
            panControl: "@",    // Whether to show a pan control on the map.
            zoomControl: "@",   // Whether to show a zoom control on the map.
            scaleControl: "@"   // Whether to show scale control on the map.
        },
        link: function (scope, element, attrs) {
            var toResize, toCenter;
            var map;
            var currentMarkers;

            // listen to changes in scope variables and update the control
            var arr = ["width", "height", "markers", "mapTypeId", "panControl", "zoomControl", "scaleControl"];
            for (var i = 0, cnt = arr.length; i < arr.length; i++) {
                scope.$watch(arr[i], function () {
                    cnt--;
                    if (cnt <= 0) {
                        updateControl();
                    }
                });
            }

            // update zoom and center without re-creating the map
            scope.$watch("zoom", function () {
                if (map && scope.zoom)
                    map.setZoom(scope.zoom * 1);
            });
            scope.$watch("center", function () {
                if (map && scope.center)
                    map.setCenter(getLocation(scope.center));
            });

            // update the control
            function updateControl() {

                // update size
                if (scope.width) element.width(scope.width);
                if (scope.height) element.height(scope.height);

                // get map options
                var options =
                {
                    center: new google.maps.LatLng(40, -73),
                    zoom: 6,
                    mapTypeId: "roadmap"
                };
                if (scope.center) options.center = getLocation(scope.center);
                if (scope.zoom) options.zoom = scope.zoom * 1;
                if (scope.mapTypeId) options.mapTypeId = scope.mapTypeId;
                if (scope.panControl) options.panControl = scope.panControl;
                if (scope.zoomControl) options.zoomControl = scope.zoomControl;
                if (scope.scaleControl) options.scaleControl = scope.scaleControl;

                // create the map
                map = new google.maps.Map(element[0], options);

                // update markers
                updateMarkers();

                // listen to changes in the center property and update the scope
                google.maps.event.addListener(map, 'center_changed', function () {

                    // do not update while the user pans or zooms
                    if (toCenter) clearTimeout(toCenter);
                    toCenter = setTimeout(function () {
                        if (scope.center) {

                            // check if the center has really changed
                            if (map.center.lat() != scope.center.lat ||
                                map.center.lng() != scope.center.lon) {

                                // update the scope and apply the change
                                scope.center = { lat: map.center.lat(), lon: map.center.lng() };
                                if (!scope.$$phase) scope.$apply("center");
                            }
                        }
                    }, 500);
                });
            }

            // update map markers to match scope marker collection
            function updateMarkers() {
                if (map && scope.markers) {

                    // clear old markers
                    if (currentMarkers != null) {
                        for (var i = 0; i < currentMarkers.length; i++) {
                            currentMarkers[i] = m.setMap(null);
                        }
                    }

                    // create new markers
                    currentMarkers = [];
                    var markers = scope.markers;
                    if (angular.isString(markers)) markers = scope.$eval(scope.markers);
                    for (var i = 0; i < markers.length; i++) {
                        var m = markers[i];
                        var loc = new google.maps.LatLng(m.lat, m.lon);
                        var mm = new google.maps.Marker({ position: loc, map: map, title: m.name });
                        currentMarkers.push(mm);
                    }
                }
            }

            // convert current location to Google maps location
            function getLocation(loc) {
                if (loc == null) return new google.maps.LatLng(40, -73);
                if (angular.isString(loc)) loc = scope.$eval(loc);
                return new google.maps.LatLng(loc.lat, loc.lon);
            }
        }
    };
});

</script>
</head>
	
<body ng-app="app" ng-controller="appCtrl">

	<h3>Google Maps</h3>

    <!-- search/go to current location -->
    <div class="text-right container-fluid">
        <div class="input-append text-right">
            <input type="text" ng-model="search"/>
            <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search" >
              &nbsp;Search<i class="icon-search"></i>
            </button>
            <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
              &nbsp;Current Location<i class="icon-home"></i>
            </button>
        </div>
    </div>

    <div class="container-fluid">
    <!-- map -->
    <app-map style="height:250px;width:300px;margin:20px;box-shadow:0 3px 25px black;"
        center="loc"
        markers="moments"
    > 
    </app-map>
    </div>
    

    <!-- list of airports -->
    <div class="container-fluid">
        <div class="span3 btn" 
            ng-repeat="a in moments"
            ng-click="gotoLocation(a.lat, a.lon)">
            <b>{{a.code}}</b> {{a.name}}
        </div>
    </div>
</body>

</div>
</body>
</html>

